/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background: url(../img/background.png) top center no-repeat;
  background-size: 1600px;
  background-position-y: -180px;
  background-color: #000; }

::selection {
  background-color: #00aae0;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.29;
  color: #fff; }
  @media only screen and (max-width: 75em) {
    body {
      font-size: 18px; } }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 5px; }
      body p {
        display: none; } }

h1 {
  font-size: 4.4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: normal;
  margin: 2rem 0;
  text-align: center; }

p {
  font-family: "Lato", sans-serif;
  margin-bottom: 2rem; }

.container {
  width: 100%;
  max-width: 606px;
  margin: 0 auto;
  padding: 45px 20px; }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding: 45px 15px; } }
  .container .logo-image {
    width: 126px;
    height: 100px;
    display: block;
    margin: 0 auto 100px; }
  .container .title-image {
    display: block;
    width: 100%;
    height: auto; }
